body {
     background-color: lightgray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



h1 {

    background-color: gray;
    color: white;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
}

.imgRedonda {
  display:block;
margin:auto;
    width:150px;
    height:150px;
    border-radius:150px;
}

h2 {

    padding: 0.2rem 0.5rem;
    background-color: gray;
    color: white;
    font-size: 2rem;
    text-align: center;
}

h3 {
    background-color: hsl(198, 50%, 65%);
    color: white;
    font-size: 1.5rem;

}

ul{
  text-align:center;
  background-color:lightgray;
  list-style:none;
}

p {
    text-align: justify;
}

.tg  {
  margin-left: auto;
    margin-right: auto;
  border-collapse:
  collapse;
  border-spacing:0;

}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0lax{text-align:left;vertical-align:top}
